@charset "utf-8";
/* CSS Document */
*{
	border: none;
	margin: 0;
	padding: 0;
}
body {
	width: 40%;
	margin: 1% auto;
	padding: 0 auto;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1em;
	}
form{
	background-color: lightgray;
	margin: auto;
	padding: 20px;
	width: 100%;
}
input[type=text], textarea,input[type=email] {
	margin: 10px 0;
	padding: 10px;
	width: 95%;
}
input[type=checkbox]{
	margin: auto;
}
input[type=submit]{
	background-color: forestgreen;
	border-radius: 5px;
	color: white;
	margin: 10px 0;
	padding: 10px 20px;
}
input[type=submit]:hover{
	opacity: 0.9;
	cursor:pointer;
}
label{
	margin: 10px 0;
}
h1{
	padding: 10px 0;
}
sup{
	color: red;
}