@charset "utf-8";
/* CSS Document */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
		}
a:visited {
	background-color: transparent;
 	color:black;    
		}
a:hover {
	background-color: transparent; 
  	color: red;   
		}
a:active {
	background-color: transparent;
  	color: yellow;    
		}
body{
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
	width: 90%;	
	}
code{	
	background-color: #f1f1f1;
	color: red;
	font-size: 110%;
	padding-left: 4px;
	padding-right: 4px;	
	}
code span {
	color:mediumblue;
}
code span span{
	color:brown;
}
code span span span{
	color:royalblue
}
div{ 
	background-color: #f1f1f1;
	margin: 10px;
	padding: 10px; 
	}
div.radius1{
	background-color: lightgreen;
	border-radius:15px 50px 30px 5px;
	float: left;
	height: 200px;
	width: 200px;	
}
div.radius2{
	background-color: lightgreen;
	border-radius:15px 50px 30px;
	float: left;
	height: 200px;
	width: 200px;	
}
div.radius3{
	background-color: lightgreen;
	border-radius:15px 50px;
	float: left;
	height: 200px;
	width: 200px;	
}
div.radius4{
	background-color: lightgreen;
	border-radius:100px;
	float: left;	
	height: 200px;	
	text-align: center;
	width: 200px;
}
hr{
	border-top: 1px solid #eee;
	margin: 20px 0;
	}
h1,h2,h3,h4,h5,h6 {
	font-family:Arial, Helvetica, sans-serif;
	}
h2{
	border-bottom: 2px solid black;
}
li {
	margin:12px;
}
p.anchouno {
  border-style: solid;
  border-width: 5px;
}
p.anchodos {
  border-style: solid;
  border-width: medium;
}
p.anchotres {
  border-style: dotted;
  border-width: 2px;
}
p.anchocuatro {
  border-style: dotted;
  border-width: thick;
}

p.anchocinco {
  border-style: double;
  border-width: 15px;
}
p.anchoseis {
  border-style: double;
  border-width: thick;
}
p.anchosiete {
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}
p.coloruno {
  border-style: solid;
  border-color: red;
}
p.colordos {
  border-style: solid;
  border-color: green;
} 
p.colortres {
  border-style: solid;
  border-color: red green blue yellow;
} 
p.lados {  
	border-bottom-style: dotted;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: dotted;
}
p.ladosdos {
  border-style: dotted solid;
}
p.abreviado {
  border: 5px solid red;
}
p.abreviadodos {
  border-left: 6px solid red;
  background-color: lightgrey;
}
span.dotted {border-style: dotted;}
span.dashed {border-style: dashed;}
span.double {border-style: double;}
span.groove {border-style: groove;}
span.hidden {border-style: hidden;}
span.inset {border-style: inset;}
span.mix {border-style: dotted dashed solid double;}
span.none {border-style: none;}
span.outset {border-style: outset;}
span.ridge {border-style: ridge;}
span.solid {border-style: solid;}
table, th, td {
	border: 1px solid black;
	  }
table h1,h2,h3,h4,h5,h6 {
	margin: 0;
	text-align: left;
}
table{
	border-collapse: collapse;
	font-family: arial, sans-serif;	
	width: 100%;
}
td,th{
	border:1px solid #dddddd;
	padding:8px;
	text-align:center;	
}
tr:nth-child(even){
		background-color: #cccccc;
	}
.outline1{
	background-color: green;
	border: 1px dashed white;
	color: white;
}
.border{
	border: 1px solid black;
	color: black;
}
.code{
	background-color: white;
	border-left: 4px solid green;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 8px 12px;
}
.colorrojo{
	color: red;
}
.contenido{
	border: 1px solid black;
	color: black;
}
.ejemplo{
	background-color: #f1f1f1;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);/* esto le genera la sombra */	
	margin: 20px 0;
	padding: 8px 16px;
	}
.ejemplos{	
	background-color: slategrey;
	margin: auto;	
	overflow: auto;
	text-align: left;
	width: 80%;
}
.ejemplos div{
	float: left;
	margin: 14px;
	width: 20%;
}
.esquema{
	background-color: white;
	margin: auto;
	text-align: center;
	width: 80%;	
}
.etiquetasHTML{
	border: 1px solid #cccccc;
	background-color: #f1f1f1;
	font-size: 24px;
	padding: 16px;
	}
.nav1{
	background-color: darkviolet;
	text-align: center;
}
.nav1 a{
	background-color: darkred;
	color: yellow;
	padding: 10px 20px;
	text-decoration: none;
}
.nav1 a:hover{
	background-color: red;
	color: orange;
	text-decoration: none;
}
.nav2{
	background-color: darkviolet;
	list-style: none;
	margin: 0;
	overflow: auto;		
	padding: 0;
}
.nav2 li{
	background-color: darkred;	
	float: left;
	margin-right: 10px;	
	text-align: center;
	text-decoration: none;
	width: 100px;
}
.nav2 li:hover{
	background-color: red;
	color: orange;
}
.nav2 li a{
	color: yellow;	
	padding: 10px 20px;
	text-decoration: none;
}
.nav2 li a:hover{		
	color: orange;	
}
.nota{
	background-color: #ffffcc; 
	border-left: 6px solid #ffeb3b; 
	margin-bottom: 20px;
	padding: 10px 10px 5px 16px;
	}
.selector{
	text-align: center;
}
.spannegrita{
	font-weight: bold;
}
#divPadre{
	width: 99%;
	border:1px solid grey;
	padding: 3px;
	margin: 0;
	background-color: #ddd;
}
#divHead{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#ddd;
}
#divTitle{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divMeta{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divBody{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#ddd;
}
#divBlanco{
	background-color:#fff;
	border:1px solid grey;
	margin:20px;
	padding:3px;
	width:90%;
}
#divEncabezado{	
	border:1px solid grey;
	margin:20px;
	padding:5px;
	width:90%;
}
#divParrafo1{	
	border:1px solid grey;	
	margin:20px;
	padding:5px;
	width:90%;	
}
#divParrafo2{	
	border:1px solid grey;	
	margin:20px;
	padding:5px;
	width:90%;
}
#menu{
	background-color: white;
	margin: 20px;
	overflow: auto;
}