@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;	
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
}
hr{margin: 60px;}
h2{margin: 20px 0;}

/* -------------Menú Estilo 1-------------- */
#menu1  {
	border: 1px solid black;
	margin: auto;	
	padding:10px;
	width:80%;
}
#menu1 ul {	
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;	
}
#menu1 ul li{
	border:1px solid gray;
	display: inline-block;		
}
#menu1 ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	width: 100px;	
}
#menu1 ul li a:hover {	
	text-decoration:none;	
}
/* -------------Menú Estilo 2-------------- */

#menu2  {
	border: 1px solid black;
	height: auto;
	margin: auto;
	overflow: hidden;	
	width:80%;
}
#menu2 ul {
	border: 1px solid blue;
	float: left;
	left: 22%; /*Siempre que esté la propiedad position, hay que poner los elementos de posicion (left, right, top o bottom*/
	list-style-type: none;
	margin: 0;
	overflow: auto; /*Siempre que en un hijo hay un float, el padre tiene que llevar overflow para que no desborde*/
	padding: 0;
	position: relative;/*Para dar una posición absoluta a un hijo el padre tiene que llevar posición relativa, pero no al contrario. */
}
#menu2 ul li {
	
	border: 1px solid red;
	float: left;
	margin: 10px 10px;
	position: relative;/*Lo ponemos para tener uno de cada, pero no sería necesario en este caso para centrar el menú*/
	right: 0;
	text-align: center;
	width: 100px;/*width: 100px;Lo hacemos para que esten separados y tengan anchura los elementos li*/
}
#menu2 ul li a{		
	display: block;	
	padding: 10px;
	text-decoration: none;	
}

/* -------------Menú Estilo 3-------------- */
#menu3 {
	border: 1px solid black;
	height: auto;
	margin: auto;
	padding: 10px;
	width:80%;
}
#menu3 ul{	
	border: 1px solid blue;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}
#menu3 ul li{
	border: 1px solid red;
	display: inline;	/*El ancho del elemento será el que procure el texto que hay, un width en esta propiedad no hace nada*/
	margin: 10px;
	padding:10px 20px;
}
#menu3 ul li a{		
	text-decoration: none;
}
.amarillo{
	background-color: yellow;
	color: black;
}
.amarillo:hover{
	opacity: 0.4;
}
.azul{
	background-color: darkblue;
	color: white;
}
.azul:hover{
	opacity: 0.8;
}
.rojo{
	background-color: darkred;
	color: white;
}
.rojo:hover{
	opacity: 0.8;
}
.verde{
	background-color: darkgreen;
	color: white;
}
.verde:hover{
	opacity: 0.8;
}
.violeta{
	background-color: darkviolet;
	color: white;
}
.violeta:hover{
	opacity: 0.8;
}
/* -------------Menú Estilo 4-------------- */
#menu4{
	border: 1px solid red;
	margin: auto;
	overflow: hidden;
	padding: 10px;
	width: 80%;
}
#menu4a {
	border: 1px solid black;
	float: left;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	width:30%;
}
#menu4a ul{		
	list-style-type: none;
	margin: 0;
	padding: 0px;	
}
#menu4a ul li{
	background-color: maroon;
	border: 1px solid blue;	
	text-align: left;	
}
#menu4a ul li a{		
	color: white;
	display: block;
	margin: 0 10px;
	padding: 10px 0px;
	text-decoration: none;	
}
#menu4a ul li a:hover{
	background-color: red;
}
#menu4a ul li img{		
	height: 24px;
	vertical-align: -0.4em;
}
#menu4b {
	border: 1px solid black;
	float: right;
	height: auto;
	margin: auto;
	padding: 10px;
	width:30%;
}
#menu4b ul{		
	list-style-type: none;
	margin: 0;
	padding: 10px;	
	width: auto;
}
#menu4b ul li{
	
	text-align: right;
}
#menu4b ul li a{	
	background-color: maroon;
	border: 1px solid red;
	color: white;	
	display: block;	
	margin: 0px;
	padding:10px 20px;	
	text-decoration: none;
}
#menu4b ul li img{		
	height: 24px;
	vertical-align: -0.4em;
}
#menu4b ul li a:hover{
	background-color: red;
}
#menu4c {
	border: 1px solid black;
	height: auto;
	margin: auto;
	padding: 10px;
	width:30%;	
}
#menu4c ul{		
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: center;
	width: auto;
}
#menu4c ul li{
	
}
#menu4c ul li a{
	background-color: maroon;
	border: 1px solid blue;
	color: white;	
	display: block;	
	margin: 0px;
	padding:10px 20px;
	text-align: center;		
	text-decoration: none;
}
#menu4c ul li a:hover{
	background-color: red;
}
#menu4c ul li img{	
	height: 24px;
	vertical-align: -0.4em;
}
/* -------------Menú Estilo 5-------------- */
#menu5{
	border: 1px solid black;
	height: auto;
	margin: auto;	
	padding: 5px;
	width:80%;
}
#menu5 ul{		
	list-style-type: none;
	text-align: center;	
}
#menu5 ul li{
	display:inline-block; 
	margin: 0 10px;	
}
#menu5 ul li a{
	
}
#menu5 ul li a:hover{
	opacity: 0.5;
}
#menu5 ul li img{
	height: 24px;
}
/* -------------Menú Estilo 6-------------- */
#menu6{
	background-color: cornflowerblue;
	border: 1px solid black;
	box-shadow: 8px 10px 5px grey;
	height: auto;
	margin: auto;
	padding:0;
	position: fixed;
	right: 10px;
	top: 10%;
		
}
#menu6 ul{		
	list-style-type: none;
	margin: 0;
	padding: 5px;
	text-align: center;
}
#menu6 ul li{	
	margin: 20px 0;
}
#menu6 ul li a{
	
}
#menu6 ul li a:hover{
	opacity: 0.5;
}
#menu6 ul li img{
	height: 24px;
}
/* -------------Menú Estilo 7-------------- */
#menu7{
	position: sticky;
	position: -webkit-sticky; /*Safari*/
	left: 20%;
	margin-left: 10%;
	top: 0;
	width: 200px;
}
#menu7 img{
	width: 200px;
}
/* -------------Menú Estilo 8-------------- */
#menu8 {	
	border: 1px solid black;	
	margin: auto;	
	padding: 10px;
	width:80%;
}
#menu8 ul{	
	background-color: black;
	list-style-type: none;
	margin: 0;
	overflow:hidden;
	padding: 0;	
}
#menu8 ul li{
	border-right: 1px solid #bbb;
	float: left;
}
#menu8 ul li a{
	color: white;
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;	
}
#menu8 ul li a:hover{
	background-color: red;
}
#menu8 ul li ul{
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
	display: none; /*Para ocultar los submenús*/
	position: absolute; /*Para que no empuje los contenidos de debajo, no ocupa un lugar*/
	z-index: 1; /*Hace que prevalezca sobre los otros elementos y lo pone en primer plano*/
}
#menu8 ul li:hover ul{
	display: block;
}
#menu8 ul li ul li{
	
	float: none;
}
#menu8 ul li ul li a{
	color: black;
}
#menu8 ul li ul li a:hover{
	background-color: darkgreen;
}
/* -------------Menú Estilo 9-------------- */
#menu9 {	
	border: 1px solid black;	
	margin: 0 auto;	
	padding: 10px;
	width:80%;
}
#menu9 ul{	
	background-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;	
	width: 150px; /*si pensamos en darle anchura 150, le damos el doble para que acote todo*/
}
#menu9 ul li{	
	border-right: 1px solid #bbb;	
	position: relative; /*para un menú como este que muestra el menú de arriba a abajo position tiene que ser relative no absolute*/
}
#menu9 ul li a{	
	color: white;
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration-line: none;
}
#menu9 ul li a:hover{
	background-color: red;
}
#menu9 ul li ul{
	background-color: gray;
	display: none;	
	position: absolute;/*de esta manera quedan plegados los submenús y no ocupa un espacio como con relative*/
	top: 0;
	right:-150px;/*tambien se podría poner margin-left: 150px*/
	z-index: 1;
}
#menu9 ul li:hover > ul{ /*Aplica el estilo a todos*/
	display:block;
}
#menu9 ul li ul li{	
	/*position: relative;*/
}
#menu9 ul li ul li a:hover{
	background-color: green;
	color: white;
}
/* -------------Menú Estilo 10-------------- */

* {
	margin: 0px;
	padding: 0px; 
	outline: 0;
}
#menu10 {
	text-align: center;
	font-size: 0.7em;
	width: 540px;
	margin: 20px auto;
}

#menu10 ul {
	list-style-type: none;
}

#menu10 ul li {
	width: 162px;
}

#menu10 ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: rgba(59,93,148,1);
	border: solid 1px #fff;
	padding: 8px;
	position: relative;
}

#menu10 ul li ul li a {
	width: 160px;
	padding: 8px 0px;
	border-top-color: transparent;
}

#menu10 ul li ul {
	display: none;
}

/* PROPIEDADES ESPECÍFICAS */

#menu10 ul li ul li ul li a.primera {
	border-top-color: #fff;
}

#menu10 ul li.nivel1 { 
	float: left;
	margin-right: 1px;
}

#menu10 ul li a.nivel2 {
	color: #000;
}

#menu10 ul li a.nivel1, #menu ul li a.nivel2 {
	display: block;
	position: relative;
}

/* PROPIEDAD HOVER */

#menu10 ul li:hover {
	position: relative;
}

#menu10 ul li a:hover, #menu10 ul li:hover a.nivel1 {
	background-color: #6CC;
	color: #000;
	position: relative;
}

#menu10 ul li:hover  ul.nivel2, #menu10 ul li a:hover  ul.nivel2{
	display: block;
	position: absolute;left: 0px;
}

#menu10 ul li ul li a:hover ul.nivel3, #menu10 ul li ul li:hover ul.nivel3 {
	display: block;
	position: absolute;
	left: 161px;
	top:0px;
}

#menu10 ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}