@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body {
	width: 90%;
	margin: 1% auto;
	padding: 0 auto;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1em;
	}
h1{
	background-color: lightgrey;
	padding: 0 10%;
	width: 80%;	
}
#contenedor {	
	background-color: lightgrey;	
	display: flex;
	flex-direction: row;
	padding: 10px;
}
#rrss {
	margin: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	width: 45%;
}
#facebook{
	background-color: darkblue;
	border-radius: 5px;
	color: white;
	margin: 5px 10px;
	padding: 10px 20px;
	text-decoration-line: none;	
	width: 90%;
}

#facebook img{
	vertical-align: -0.5em;
}
#twitter{
	background-color: deepskyblue;
	border-radius: 5px;
	color: white;
	margin: 5px 10px;
	padding: 10px 20px;
	text-decoration-line: none;
	width: 90%;
}

#twitter  img{
	vertical-align: -0.5em;
}
#google{
	background-color: orangered;
	border-radius: 5px;
	color: white;
	margin: 5px 10px;
	padding: 10px 20px;
	text-decoration-line: none;
	width: 90%;
}
#google  img{
	vertical-align: -0.5em;
}

#o{
	background-color: black;
	height: 200px;
	width: 1px;
	margin: 10px;
	position: absolute;
	left: 47%;
}
#ancho{
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 20px;	
	padding: 1px 5px 2px 5px;
	position: relative;
	top: 83px;
	left: -12px;	
	z-index: 1;
}
#estrecho{
	display: none;
}
#manual{
	margin: 5px 10px;
	padding: 10px 20px;
	width: 45%;
}
#manual input[type=text], input[type=password] {
	margin: 10px 5%;
	padding: 10px;
	width: 95%;
}
#manual label{
	margin: 3%;
	padding: 10px;
}
#manual input[type=submit]{
	background-color: forestgreen;
	border: none;	
	color: white;
	margin: 10px 5%;
	padding: 10px 20px;	
	width: 100%;
}
#abajo{
	background-color: grey;	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding: 10px;
	}
#abajo a{
	color: white;	
	text-decoration-line: none;
}

a:hover{
	opacity: 0.7;
}
input[type=submit]:hover{
	opacity: 0.9;
	cursor:pointer;
}
@media screen and (max-width: 950px){
	#contenedor{
		flex-direction: column;
		justify-content: center;
	}
	#rrss{
		width: 95%;
	}
	#manual{		
		margin: 1%;
		width: 80%;
	}
	#o{
		background-color: lightgrey;
		border: none;
		height: auto;
		position: inherit;
		width: 95%;
	}
	#ancho{
		display: none;
	}
	#estrecho{
		display: inline-flex;
	}
	#abajo{
		align-items: center;
		flex-direction: column;		
	}	
	#abajo a{
		margin: 10px;
	}
}
