@charset "utf-8";
/* CSS Document */
body {
/*font-family:Verdana, sans-serif;*/
/*font-family: 'Sarabun', sans-serif;*/
font-family: 'PT Sans Narrow', sans-serif;

width:90%;
margin: 20px auto;
}
h1{background-color: brown; color: white;}
/*hr {border: 1px dotted red;}*/
h2{border-bottom:2px solid red;}

.spanNegrita {font-weight: bold;}
p.p500px{width:800px;}
.dotted {border-style:dotted;padding:5px;margin:5px;}
.dashed {border-style:dashed;padding:5px;margin:5px;}
.solid {border-style:solid;padding:5px;margin:5px;}
.double {border-style:double;padding:5px;margin:5px;}
.groove {border-style:groove;padding:5px;margin:5px;}
.ridge {border-style:ridge;padding:5px;margin:5px;}
.inset {border-style:inset;padding:5px;margin:5px;}
.outset {border-style:outset;padding:5px;margin:5px;}
.none {border-style:none;padding:5px;margin:5px;}
.hidden {border-style:hidden;padding:5px;margin:5px;}
.mix {border-style:dotted dashed solid double;}

h1,h2,h3,h4,h5,h6 {
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nota {
background-color: #ffffcc;
border-left: 6px solid #ffeb3b;
padding-top:10px;
padding-bottom:10px;
padding-left:20px;
padding-right:5px;
	 }

code {
color: crimson;
background-color: #f1f1f1;
padding-left: 4px;
padding-right: 4px;
font-size: 110%;
}
.etiquetasHTML {
border: 1px solid #cccccc;
background-color: #f1f1f1;
font-size: 22px;
padding: 12px;
}
code span {
color: mediumblue;
}
code span span {
color: brown;
}
code span span span {
color: crimson;
}
.code {
margin-top: 16px;
margin-bottom: 16px;
background-color: #ffffff;
padding: 8px 12px;
border-left: 4px solid #4CAF50;
color: black;
}
.ejemplo {
background-color: #f1f1f1;
padding: 8px 16px;
margin: 20px 0;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

#divPadre {
	width:99%;
	border:1px solid grey;
	padding:3px;
	margin:0;
	background-color:#ddd;
}

#divHead{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
}
#divTitle{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divMeta{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divBody{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#ddd;
}
#divBlanco{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#fff;
}
#divEncabezado{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divParrafo {
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}

.nav1 {
/*	background-color: darkgreen;*/
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 35px;	
	display:block;
}
.nav1 a {
	background-color: darkred;
	color:white;
	padding: 10px 20px;
	text-decoration: none;

}
.nav1 a:hover {
	background-color: red;
	color:yellow;
	border-bottom: 4px solid yellow;
} 

.nav2 {
	background-color: darkgreen;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}
.nav2 li {
	background-color:yellow;
	border: 1px solid black;
	width: auto;
	float:left;
	text-align: center;
	margin-right:5px;
}
.nav2 li:hover {
	background-color:darkred;
}	
.nav2 li a {
	padding: 10px 25px;
	color: black;
	text-decoration: none;
	display: block;
}
.nav2 li a:hover {
	color:white;
}
















