@charset "utf-8";
 CSS Document 

* {
	box-sizing: border-box;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
}

/* -------------Menú Estilo 1-------------- */
#menu1  {
	width:80%;
	margin: auto;
	border: 1px solid black;
	padding:10px;
	position: sticky;
  	top: 0;

}
#menu1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: antiquewhite;
}
#menu1 ul li{
	display: inline-block;
	border:1px solid gray;	
}
#menu1 ul li:hover{
	background-color: lightblue;
}
#menu1 ul li a {
	text-decoration: none;
	padding: 10px;
	width: 100px;
	/*border:1px solid gray;*/
	color: red;
	display: inline-block;
}
#menu1 ul li a:hover {
	text-decoration:underline;
	color: green;
	background-color: ghostwhite;
}
/* -------------Menú Estilo 2-------------- */

#menu2 {
	width:80%;
	height: auto;
	margin:0 auto;
	border: 1px solid black;
	overflow: hidden;
}
#menu2 ul {
	list-style-type: none;
	float:left;
	padding: 0;
	margin:0;
	position: relative;
	left: 50%;
}
#menu2 ul li {
	float: left;
	border:1px solid blue;
	margin:10px 2px;
	position: relative;
	right:50%;
	background-color: darkred;
}

#menu2 ul li a {
	text-decoration: none;
	text-align: center;
    padding: 10px;
	display: block;
	width: 100px;
	color:white;
}

#menu2 ul li a:hover {
	text-decoration:underline;
	color: yellow;
	background-color: darkblue;
}

/* -------------Menú Estilo 3-------------- */

#menu3 {
	width:80%;
	margin: auto;
	border: 1px solid black;
	padding:20px;
}
#menu3 ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	text-align: center;
}
#menu3 ul li {
	display:inline;
}
#menu3 ul li a {
	text-decoration:none;
	display:inline;
	padding:10px 15px 10px 15px;
}
.rojo {
    background-color: darkred;
    color: white;

}
.rojo:hover {
	opacity:0.8;
}

.azul {
    background-color: darkblue;
    color: white;
}
.azul:hover {
	opacity:0.5;
}

.naranja {
    background-color: darkgoldenrod;
    color: white;
}
.naranja:hover {
	opacity:0.5;
}

.verde {
    background-color: darkgreen;
    color: white;
}

.verde:hover {
	opacity:0.5;
}

.violeta {
    background-color: darkviolet;
    color: white;
}

.violeta:hover {
	opacity:0.5;
}

/* --------------------- */ 
#padre {
	overflow: hidden;
	width: 80%;
	border: 1px solid black;
	margin: auto;
}
#hijo1 {
	float:left;
	width:33.33%;
	background-color: lightgray;
	height: 200px;
}

#hijo2 {
	float:right;
	width:33.33%;
	background-color: lightgray;
	height: 200px;
}
#hijo3 {
	margin:auto;
	width:33.33%;
	background-color: lightgray;
	height: 200px;
}

.iconos {
	width: 25px;
	height:25px;
	vertical-align:-0.4em;
	
}
/* -------------------------------- */
/* Barra de navegación vertical con block */

#menu4 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu4 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	border: 1px solid red;
	width: 300px;
	width: auto;
}

#menu4 ul li {
	border: 1px solid blue;
	width: auto;
	margin:auto;
/*	text-align: left;
	text-align: right;*/
	text-align: center;
	}
#menu4 ul li a {
	text-decoration: none;
	background-color: #2f8731;
	display: block;
	padding: 10px 15px;
	color:white;
}
#menu4 ul li a:hover {
	background-color: darkgoldenrod;
}
/* Barra de navegación vertical con block */

#menu5 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu5 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	border: 1px solid red;
	width: 300px;
	width: auto;
}

#menu5 ul li {
	border: 1px solid blue;
	width: auto;
	margin:auto;
/*	text-align: left;
	text-align: right;*/
	text-align: left;
	}
#menu5 ul li a {
	text-decoration: none;
	background-color: darkgoldenrod;
	display: block;
	padding: 10px 15px;
	color:white;
}
#menu5 ul li a:hover {
	background-color: #2f8731;
}
/* Barra de navegación vertical con block */

#menu6 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu6 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	border: 1px solid red;
	width: 300px;
	width: auto;
}

#menu6 ul li {
	border: 1px solid blue;
	width: auto;
	margin:auto;
	text-align: right;
	}
#menu6 ul li a {
	text-decoration: none;
	background-color: darkgoldenrod;
	display: block;
	padding: 10px 15px;
	color:white;
}
#menu6 ul li a:hover {
	background-color: #2f8731;
	color:white;
}

/* Barra Redes Sociales horizontal fija */
#menu7 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu7 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	overflow: hidden;*/
/*	background-color: #CCCCCC;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;
}
#menu7 ul li {
	/*	float: none;*/
	display: inline-block;
	border: 1px solid #bbb;
	background-color: #CCCCCC;
}

#menu7 ul li a {
	display: block;
/*	color: white;*/
	text-align: center;
	padding: 10px;
	text-decoration: none;
}
#menu7 ul li a:hover {
	background-color: #999999;
}

/* Barra Redes Sociales vertical fija derecha */
#menu77 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
	
}
#menu77 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	position: fixed;
	right: 0;
	top: 10%;
}
#menu77 ul li {
	border: 1px solid #bbb;
}
#menu77 ul li a {
	display: block;
	color: #333333;
	text-align: center;
	padding: 5px;
	text-decoration: none;
}
#menu77 ul li a:hover {
	background-color: #999999;
}
/* ---------------------------- */ 
#menu8 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu8 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333333;

/*	text-align: center;*/
}
#menu8 ul li {
	float:left;
	border-right: 1px solid #bbb;
}
#menu8 ul li a {
	color:white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu8 ul li a:hover {
	background-color: red;
}
#menu8 ul li ul {
	display: none;
	position:absolute;
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#menu8 ul li:hover ul {
	display: block;
}
#menu8 ul li ul li {
	float:none;
}
#menu8 ul li ul li a {
	color: black;
    text-align: left;
}
#menu8 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}

/* ----------------------------  */ 
#menu9 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu9 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	overflow: hidden;*/
	background-color: #333333;
	width:150px;
	position: absolute;
/*	text-align: left;*/
}
#menu9 ul li {
	float:none;
	border-right: 1px solid #bbb;
	position: relative;
}
#menu9 ul li a {
	color:white;
	display: block;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}
#menu9 ul li a:hover {
	background-color: red;
}
#menu9 ul li ul {
	display: none;
/*	display: block;*/
	position:absolute;
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	top:0;
	left:150px;

}
#menu9 ul li:hover > ul {
	display: block;
}
#menu9 ul li ul li {
	float:none;
	position: relative;
}
#menu9 ul li ul li a {
	color: black;
    text-align: left;
}
#menu9 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}

/* ----------------------------  */ 
#menu14 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu14 ul {
	list-style: none;
	padding: 0;
	margin:0;
	background-color:#333333; 
}
#menu14 ul li {
	display: block;
	border: solid 1px #fff;
	width: 150px;
	position:relative;
/*	text-align: center;*/
}
#menu14 ul li a {
	color:white;
	display: block;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
}
#menu14 ul li a:hover {
	background-color: red;
}
#menu14 ul li ul {
	display: none;
	/*display: block;*/
	position:absolute;
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	left:150px;
	top:0;
}
#menu14 ul li:hover > ul {
	display: block;
}
#menu14 ul li ul li {
/*	display: block; 
	position:relative;*/
}
#menu14 ul li ul li a {
	color: black;
    text-align: left;
}
#menu14 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}


/* ---------------------------- */
#menu10 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu10 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: #333333;
}
#menu10 ul li {
	display: block;
	border: solid 1px #fff;
	width: 150px;
	position:relative;
}
#menu10 ul li a {
	color:white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu10 ul li a:hover {
	background-color: red;
}
#menu10 ul li ul {
	display: none;
	/*display: block;*/ /* para ver como queda */
	background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	position:absolute;
	top:0;
	left: 150px;
}
#menu10 ul li:hover > ul {
	display: block;
}
#menu10 ul li ul li {
	display: block; 
	position:relative;
/*	position:relative; */  /* no funciona top ni right */ 
/*	top: 0;
	right:-150px;*/
}
#menu10 ul li ul li a {
	color: black;
    text-align: left;
}
#menu10 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}


/* ------------------------------------ */
#menu11 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;

}
#menu11 ul{
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1;
}
#menu11 ul li {
	display: block;
	float:left;
	width:150px;
	text-align: left;
	background-color: #333333;
}
#menu11 ul li a {
	color:white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu11 ul li a:hover {
	background-color: red;
}
#menu11 ul li ul{
display:none;
}
#menu11 ul li:hover > ul{
display:block;
}

#menu11 ul li ul li  {
position: relative;
}
#menu11 ul li ul li a {
	color:white;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu11 ul li ul li a:hover {
	background-color: red;
}
#menu11 ul li ul li ul {
position: absolute;
top:0;
left:150px;
}
#menu11 ul li ul li ul li  {
/*display: block;
margin-left: 150px;*/

	
	/*	top:0;
	right:-150px;*/
}

#menu11 ul li ul li a {
	color: black;
    text-align: left;
}
#menu11 ul li ul li a:hover {
	background-color: green;
	color:white;
}
