@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:1em;
}

/* lista desplegable vertical  */

#menu8 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}

#menu8 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	text-align: center;
}
#menu8 ul li {
	float: left;
	border-right: 1px solid #bbb;
}
#menu8 ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu8 ul li a:hover {
	background-color: red;
}
#menu8 ul li ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
/*    min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#menu8 ul li:hover ul {
	display: block;
}
#menu8 ul li ul li {
	display: block;
	color: white;
	text-align: center;
	/*	padding: 14px 16px;*/
	text-decoration: none;
	width: 100px;
	float: none;
}
#menu8 ul li ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#menu8 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}

#menu8 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}

#menu8 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu8 li {
  float: left;
}

#menu8 li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu8 li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

#menu8 li.dropdown {
  display: inline-block;
}

#menu8 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#menu8 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#menu8 .dropdown-content a:hover {background-color: #f1f1f1}

#menu8 .dropdown:hover #menu8 .dropdown-content {
  display: block;
}

/* ------------------------------------------*/
#menu9 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu9 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	/*text-align: center;*/
}
#menu9 ul li {
	float:left;
	border-right: 1px solid #bbb;
/*	width:150px;
	border: 1px solid gray;
	text-align: center;*/
}
#menu9 ul li a {
	color:white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu9 ul li a:hover {
	background-color: red;
}
#menu9 ul li ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
/*    min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#menu9 ul li:hover ul {
	display: block;
}
#menu9 ul li ul li {
	display: block;
	color: white;
	text-align: center;
	/*	padding: 14px 16px;*/
	text-decoration: none;
	/*width: 100x;*/
	width: auto;
	float: none;
}

#menu9 ul li ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#menu9 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}
/* ------------------------------------------*/
#menu10 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu10 ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	/*text-align: center;*/
}
#menu10 ul li {
	float:left;
	border-right: 1px solid #bbb;
	/*width:150px;*/
/*	border: 1px solid gray;
	text-align: center;*/
}
#menu10 ul li a {
	color:white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu10 ul li a:hover {
	background-color: red;
}
#menu10 ul li ul {
	display: none;
/*	display: block;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
/*    min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#menu10 ul li:hover ul {
	display: block;
}
#menu10 ul li ul li {
	display: block;
	color: white;
	text-align: center;
	/*	padding: 14px 16px;*/
	text-decoration: none;
	/*width: 100x;*/
	width: auto;
	float: left;
}
#menu10 ul li ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#menu10 ul li ul li a:hover {
	background-color: DodgerBlue;
	color:white;
}

/* ------------------------------------------*/
#menu11 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu11 ul {
	list-style-type: none;
	margin: 0 auto; 
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	text-align: center;
}
#menu11 ul > li {
	float:left;
	display: block;
	border-right: 1px solid #bbb;
    border: 1px solid gray;
}
#menu11 ul li a {
	color:white;
	text-decoration: none;
	padding: 14px 16px;	
	display: block;
}
#menu11 ul li a:hover {
	background-color: red;
}
#menu11 ul li ul {
	display: none;
	position: absolute;
	min-width:140px;
}
#menu11 ul li:hover > ul {
	display: block;
}
#menu11 ul li ul li {
/*	float: none;*/
	position:relative;
/*	display: block;*/
}
#menu11 ul li ul li a {
	color: white;
	text-decoration: none;
	padding: 14px 16px;
	display: block;
}
#menu11 ul li ul li a:hover {
	background-color: DodgerBlue;
}
#menu11 ul li ul li ul {
	display: none;
	position: absolute;
	min-width:140px;
/*	position:absolute;
	position:relative;*/
/*	right:-140px;
	top:0px;*/
}
#menu11 ul li ul li:hover ul {
	display: block;
/*	display: block;*/
}
#menu11 ul li ul li ul li {
	position:relative;
/*	float:left;*/
/*	float:none;
/* 	display:inline-block;*/
}
#menu11 ul li ul li ul li a {
	color:white;
	text-decoration: none;
	padding: 14px 16px;	
	display: block;
}
#menu11 ul li ul li ul li a:hover {
	background-color: green;
}
/*---------------------------------*/

#menu12 {
	width:80%;
	margin:0 auto;
	border: 1px solid black;
	padding:10px;
}
#menu12 ul {
	list-style-type: none;
	margin: 0 auto; 
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	/*text-align: center;*/
}

#menu12 ul li a {
	color:white;
	text-decoration: none;
	padding: 14px 16px;	
	display: block;
}
#menu12 li a:hover {
	background-color: red;
}
#menu12 ul li {
	float:none;
}
#menu12 ul li ul {
	display: none;
	display: block;
	position: absolute;
	min-width: 140px;
}
#menu12 ul li:hover ul {
	display: block;
}
#menu12 ul li ul li {
	float:none;
	width:140px;
	display: block;
	border-right: 1px solid #bbb;
    border: 1px solid gray;
}
/*------------------------------*/
#menu {  text-align: center;
font-size: 0.7em;
width: 820px;
margin: 20px auto;
}
#menu ul { list-style-type: none;}
#menu ul li.nivel1 { float: left;
width: 162px;
margin-right: 2px;
}
#menu ul li a {display: block;
text-decoration: none;
color: #fff;
background-color: #399;
border: solid 1px #fff;
padding: 8px;
position: relative;
}
#menu ul li:hover {position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color: #6CC;
color: #000;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {display: block;
position: absolute;left: 0px;
}
#menu ul li ul li a {width: 160px;
padding: 6px 0px 8px 0px;
border-top-color: #000;
}
#menu ul li ul li a:hover {border-top-color: #000;
position: relative;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}