/*CSS style*/

*{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    width: 95%;
    background-color:rgb(239,239,239);
    margin: 0 auto;
}
hr {
    border-top: dotted 1p #3366ab;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.navegacion ul {
    list-style-type: none;
}
.navegacion ul li {
    display: inline-block;
}
.navegacion ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    background-color: #3366ab;
}
.navegacion ul li a:hover {
    border: solid 1px #3366ab;
    color:  #3366ab;
    background-color: white;
}
.navegacion img {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    color: #3366ab;
    font-weight: bold;
}
.logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
    text-align: center;
} 
.logos img {
    width: 100%;
}
.logos figcaption a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #3366ab;   
    color: white;
    font-size: 1.2em;
}
.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cuadros {
    background-color: white;  
    font-size: 1.2em;
    line-height: 1.5;
}
.cuadros h2 {
    color: white;
    background-color: #3366ab;
    padding: 5px;
}
.texto {
    background-color: white;  
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
}
.texto h3 {
    text-aling: left;
    font-weight: bold;
}
.texto ul {
    list-style-position: inside;
    color: #3366ab;
}
.texto cite {
    text-align: center;
}
cite quotes {
    font-size: 1.2em;
}
.h2 {
    color: white;
    background-color: #3366ab;
    padding: 5px;
    text-align: left;
    width: 30%;
}
.cita {
    font-size: 1.4em;
    background-color: white;
    padding: 5px;
    text-align: center;
}
q {
    border-left: solid 2px #3366ab;
}
.cita2 {
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
}
aside {
    width: 100%;
    border-top: dotted 1px #3366ab;
    border-bottom: dotted 1px #3366ab;
    border-right: none;
    border-left: none;

}
.tabla {
    width: 80%;
    margin: 0 auto;
    border: double 2px black;
    font-size: 1.2em;
    color: #3366ab;
    font-weight: bold;
    background-color: white;
    text-align: center;
}
.tabla th, td {
    border: double 1px black;
}
.tabla a {
    font-size: 1.2em;
    text-decoration: none;
    color: blue;
}
.formulario {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    align-items: flex-start;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}
input[type="text"] {
    width: 100%;
    margin: 5px;
}
input[type="email"] {
    width: 100%;
    margin: 5px;
}
input[type="tel"] {
    width: 100%;
    margin: 5px;
}
textarea {
    width: 100%;
    margin: 5px;
}
input[type="checkbox"] {
    margin: 5px;
    text-align: left;
}
input[type="submit"] {
    margin: 5px;
    background-color: #3366ab;
    width: auto;
    color: white;
    border-radius: 2px;
}
.pie {
    width: 100%;
    border-top: dotted 1px blue;
    border-bottom: dotted 1px blue;
    border-right: none;
    border-left: none;
    text-align: center;
    padding: 10px;
}
.pie a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}




