@charset "utf-8";
/* CSS Document */
*{
	
	margin: 0;
	padding: 0;
}
body {
	width: 50%;
	margin: 1% auto;
	padding: 0 auto;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1em;
	}
form{	
	background-color: lightgrey;
	margin: auto;	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}
div{	
	margin: 15px;
	width: 45%;
}
input[type=text], input[type=email]{
	margin: 5px 0;
	padding: 5px;
	width: 95%;
}
input[type=radio]{
	margin: 13px 0;
}
select{
	margin: 5px 0;
	padding: 5px;
	width: 100%;
}
.dosizq{	
	float: left;
	margin: 5px 0;
	width: 40%;
}
.dosizq input{
	width: 90%;
}
.dosizq select{
	width: 100%;
}
.dosder{	
	float: right;
	margin: 5px 0;
	width: 40%;
}
.dosder input{	
	width: 87%;
}

.tarjeta{
	vertical-align: -0.7em;
}
#terminos{
	margin: 0 15px;
	display: block;
	width: 100%;
}
input[type=submit]{
	background-color: forestgreen;
	border: none;	
	color: white;
	margin: 15px;
	padding: 10px 20px;	
	width: 100%;
}
input[type=submit]:hover{
	opacity: 0.9;
	cursor:pointer;
}
@media screen and (max-width: 1200px){	
	
	div{			
		width: 40%;
	}
	input[type=text], select, input[type=email]{
		width: 100%;
	}
}
@media screen and (max-width: 800px){	
	div{			
		width: 90%;
	}
	input[type=text], input[type=email]{
		margin: 10px 10px 10px 0;
		width:95%;
	}
	select{
		width: 99%;
	}
	.dosder{
		float: left;
		width: 100%;
	}
	
	.dosizq{
		width: 100%;
	}
	.dosizq select{
		width: 99%;
	}
}