@charset "utf-8";
/* CSS Document */

*{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}
h1{
	font-size: 120%;
	text-align: center;
}

.pregunta{	
	box-shadow: 1px 1px 3px lightgrey;
	float: left;
	margin-bottom: 10px;
	padding: 0 0 5px 5px;	
	width: 50%;
}

.respuesta{	
	float: right;
	color: blue;
	padding-top: 25px;
	width: 35%;
}