@charset "utf-8";
/* CSS Document */


body,td,th {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	color: #4C4C4C;
}
body {
	background-color: white;
/*	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; */
	width: 1024px;
	margin: 0 auto;
}
a {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	color: #0095CB;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #008126;
}
a:hover {
	text-decoration: underline;
	color: #AD0B0E;
}
a:active {
	text-decoration: none;
	color: #BFB418;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
h1 {
	font-size: 36px;
	color: #000000;
}
h2 {
	font-size: 24px;
	color: #000000;
}
h3 {
	font-size: 18px;
	color: #000000;
}
h4 {
	font-size: 16px;
	color: #000000;
}
h5 {
	font-size: 14px;
	color: #000000;
}
h6 {
	font-size: 12px;
	color: #000000;
}
div {
	background-color:rgb(239,239,239);
	border-radius: 5px;
	padding:20px;
	margin:20px 0;
	overflow:hidden;
	}
.divalineado{
	width:28%;
	float:left;
	box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.2);
	margin:5px;
	background-color: white;
	}
.divcodigo{
	border-left: 4px solid #4CAF50;
	background-color:#FBFB9D;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0;
	}
	
.alinearcentro {
	text-align:center;
	}
	
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}
	
.divejemplo{
	border-left: 4px solid #4CAF50;
	background-color:white;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0;
	}	

.divejemplo2{
	border-left: 4px solid #4CAF50;
	background-color:white;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0;
	float: left;
	width: 45%;
	}	

.divejemplo3{
	border-left: 4px solid #4CAF50;
	background-color:white;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0;
	float: left;
	width: 28%;
	}	
	
li {
	line-height: 1.5em;
}
	
caption {
	text-align: left;
	padding-bottom: 10px;
}

buttom {
    background-color: #4CAF50;
    border: 1px solod #494949;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
	
}
buttom:hover {
    background-color: #347936;	
}

.diveAlertaRojo{
	border-left: 6px solid #f44336;
	background-color:#ffdddd;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 0;
	}

.divIMG{
float: left;
width: auto;
overflow: hidden;
}

.divNAV{
float: none;
width: 20%;
overflow: hidden;

}

.divDOM{
	display: block;
}
	
.divBom{
	display: block;
}
	